
.appWrapper {
  border: 10px solid transparent;
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

.clock {
  font-size: 72px;
  margin: 20px 0;
  text-align: center;
}

.buttonNav {
  display: flex;
  margin: 50px 0;
  justify-content: space-evenly;
}

.button {
  display: inline;
  font-size: 24px;
  padding: 16px 20px;
}

.bgAlarm {
  background-color: white;
  animation: siren infinite 3s linear;
}
@keyframes siren {
  0% {background-color: white;}
  50% {background-color: red;}
  100% {background-color: white;}
}
